@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
}
.main-wpapper {
    background-image: url("../img/bg-main.svg");
    background-size: cover;
    height: 100vh;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-wrapper:hover {
    background: #000000;
    opacity: 0.41;
    transition: 3s;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 79px;
}
.header-logo {
    text-align: center;
}
.header-logo-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 78px;
}
.header-logo-text:hover {
    color: #3CB878;
    transition: 1s;
}
.header-content-icon-item {
    fill: #FFFFFF;
    padding-right: 25px;
}
.header-content-icon-item:hover {
    fill: #3CB878;
    transition: 2s;
}
.header-content-icon::after {
    content: url("../img/header-line.svg");
    padding-right: 27px;
}
.header-content-icon::after:hover {
    opacity: 0.1;
    transition: 3s;
}
.header-link,
.header-link-login::before,
.header-link-singup::before {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-right: 5px;
}
.header-link-login::before {
    content: "Welcome, ";
}
.header-link-singup::before {
    content: " or ";
}
.header-link:hover {
    color: #3CB878;
    transition: 2s;
}
.main-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    height: 94.49%
}
.main-form-content {
    position: relative;
    height: 584px;
    width: 444px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: absolute;
}
.main-form-green-square {
    position: absolute;
    padding-top: 29px;
}
.main-form-link {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 29px 60px 13px 59px;
}
.main-form-link-singup {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.main-form-link-login {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.main-form-link-login:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 3s;
}
.main-form-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 60px;
}
.main-form-btn {
    display: flex;
    font-size: 16px;
    line-height: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 5px;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
.main-form-btn-facebook {
    background: #305DB8;
}
.main-form-btn-facebook:hover {
    background: #022263;
    transition: 0.3;
}
.facebook-img {
    padding: 12px 0 12px 8px;
}
.facebook-text::before {
    content: "";
    font-size: 24px;
    border-left: 1px solid  #0A162F;
    background: #0A162F;
    margin: 0 20px 0 12px;
    opacity: 0.1;
}
.main-form-btn-google {
    background: #DF4A32;
}
.main-form-btn-google:hover {
    background: #AB1F09;
    transition: 0.3;
}
.google-img {
    padding: 12px 0 12px 8px;
}
.google-text::before {
    content: "";
    font-size: 24px;
    border-left: 1px solid  #0A162F;
    background: #0A162F;
    margin: 0 26px 0 6px;
    opacity: 0.1;
}
.main-form-separator {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 31px;
}
.main-form-separator-text {
    position: absolute;
    margin-top: -7px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    padding: 0 5px;
    background-color: #FFFFFF;
}
.main-form-separator::before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #F2F2F2;
    width: 73%;
    padding-right: 5px;
}
.main-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: none;
    margin: 0;
    width: 73%;
    padding-left: 61px;
    padding-top: 17px;
}
.main-form input {
    padding: 15px 20px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-bottom: 15px;
}
.main-form input::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.main-form input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.main-form input::-moz-placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.main-form input::-moz-placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.main-form input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.main-form input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: 0;
}
.main-form-item-label {
    display: flex;
    align-items: center;

}
.main-form-item-checkbox-default {
    position: absolute;
    opacity: 0;
    width: 40%;
}
.main-form-item-checkbox {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-bottom:12px;
    margin-top: -3px;
}
.main-form-item-checkbox-text {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 8px;
}
.main-form-item-checkbox-link {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    padding-left: 8px;
}
.main-form-item-checkbox-link:hover {
    color: #01813F;
    transition: 0.3;
}
.main-form-item-checkbox-default:checked +.main-form-item-checkbox {
    background-image: url("../img/tick-green.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.main-form-btn-create {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.main-form-btn-create:hover {
    background: #01813F;
    transition: 2s;
}